{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/constants/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/assets/(.*)$",
    "^[./]"
  ],
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
